@import "../../assets/styles/colors.scss";

.home-section {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--home-section-vpad);

  .section-adj-space {
    display: block;
    height: calc(var(--home-section-vpad) + var(--header-height));
  }

  &.section__home {
    background-color: $colorAccent;
    min-height: 100vh;
  }

  &.section__services {
    background-color: $colorDarkBg;
    color: $colorWhite;
  }
}
