@import "../../assets/styles/colors.scss";
@import "../../assets/styles/mixins.scss";

#header,
#footer {
  align-items: center;
  background-color: $colorDarkBg;
  color: $colorWhite;
  display: flex;
  height: var(--header-height);
  justify-content: center;
}

#header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;

  .equal-side {
    width: 180px;

    &:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }

  .btn {
    background-color: transparent;
    border: 1px solid $colorDarkBorder;
    font-size: 18px;
    height: 47px;
    width: 150px;

    &:hover {
      background-color: $colorAccent;
      color: $colorText;
    }
  }
}

nav#topnav {
  display: flex;

  a {
    @include fw(semibold);
    text-decoration: none;

    & + a {
      margin-left: 4vw;
    }

    &.active {
      color: $colorAccent;
    }
  }
}

#main {
  flex-grow: 1;
}