$colorAccent: #fabd00;

$colorDarkBg: #111827;
$colorDarkerBg: #1b1e22;
$colorDarkBorder: #374151;

$colorBg: #f2f6fa;
$colorEEE: #eee;
$colorWhite: #fff;

$colorRed: #b91c1c;

$colorText: #111827;
$colorTextDarkGrey: #2e363e;
$colorTextNeutral: #e5e7eb;
$colorTextGrey: #9ca3af;

$colorCardBg: #23262b;
$colorAccordionBg: #1f2937;
