@mixin fw($weight: 'regular') {
  @if $weight == 'regular' {
    font-weight: 400;
  }
  @else if $weight == 'semibold' {
    font-weight: 600;
  }
  @else if $weight == 'bold' {
    font-weight: 700;
  }
}